*.class
**/target
**/webapp/userfiles
**/WEB-INF/classes
**/logs/*.log*
*.epoch
*.lic
.classpath
.project
*.log

.idea
*.ipr
*.iml
*.iws

.DS_Store
Thumbs.db
/recruit/.settings
/web/src/main/resources/static/coverHead/classroom/
